version: '3.5'

services:
  reverse-proxy:
    image: traefik
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports: 
      - 80:80
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - rosalution-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=rosalution-network"
  
  frontend:
    build:
      context: ./frontend/
      target: development-stage
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src:/app/src
    networks:
      - rosalution-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=rosalution-network"
      - "traefik.http.routers.frontend-router.entrypoints=web"
      - "traefik.http.routers.frontend-router.rule=Host(`local.rosalution.cgds`)"
      - "traefik.http.routers.frontend-router.service=frontend-web-service"
      - "traefik.http.services.frontend-web-service.loadbalancer.server.port=80"
  
  backend:
    build:
      context: ./backend/
      target: development-stage
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    environment:
      - MONGODB_HOST=rosalution-db
    entrypoint: ['/bin/sh', '-c', './entrypoint-init.sh']
    networks:
      - rosalution-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=rosalution-network"
      - "traefik.http.routers.backend-router.entrypoints=web"
      - "traefik.http.routers.backend-router.rule=Host(`local.rosalution.cgds`) && PathPrefix(`/rosalution/api`)"
      - "traefik.http.routers.backend-router.service=backend-api-service"
      - "traefik.http.routers.backend-router.middlewares=backend-strip-prefix"
      - "traefik.http.middlewares.backend-strip-prefix.stripprefix.prefixes=/rosalution/api"
      - "traefik.http.services.backend-api-service.loadbalancer.server.port=8000"
  
  rosalution-db:
    image: mongo:5.0.9
    volumes:
      - ./etc/fixtures/initial-seed/initial-db-seed.sh:/docker-entrypoint-initdb.d/initial-db-seed.sh
      - ./etc/fixtures/:/tmp/fixtures
    networks:
      - rosalution-network
    environment:
      MONGO_INITDB_DATABASE: rosalution_db

networks:
  rosalution-network:
    name: rosalution-network