services:
  reverse-proxy:
    image: traefik:3.6.8
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.filename=/etc/traefik/config.yml"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
    ports: 
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - ./etc/traefik/config.yml:/etc/traefik/config.yml:ro
      - ./etc/.certificates:/etc/certs:ro
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - rosalution-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=rosalution-network"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.rule=Host(`localhost`)"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
  
  frontend:
    build:
      context: ./frontend/
      target: development-stage
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - ./frontend/index.html:/app/index.html
    environment:
      VITE_ROSALUTION_VERSION: "local@latest"
    networks:
      - rosalution-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=rosalution-network"
      - "traefik.http.routers.frontend-router.tls=true"
      - "traefik.http.routers.frontend-router.rule=Host(`local.rosalution.cgds`)"
      - "traefik.http.routers.frontend-router.service=frontend-web-service"
      - "traefik.http.services.frontend-web-service.loadbalancer.server.port=80"
  
  backend:
    build:
      context: ./backend/
      target: development-stage
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    environment:
      - MONGODB_HOST=rosalution-db
    command: ['./etc/entrypoint-init.sh', '--reload']
    networks:
      - rosalution-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=rosalution-network"
      - "traefik.http.routers.backend-router.tls=true"
      - "traefik.http.routers.backend-router.rule=Host(`local.rosalution.cgds`) && PathPrefix(`/rosalution/api`)"
      - "traefik.http.routers.backend-router.service=backend-api-service"
      - "traefik.http.routers.backend-router.middlewares=backend-strip-prefix"
      - "traefik.http.middlewares.backend-strip-prefix.stripprefix.prefixes=/rosalution/api"
      - "traefik.http.services.backend-api-service.loadbalancer.server.port=8000"
  
  rosalution-db:
    image: mongo:5.0.9
    volumes:
      - ./etc/fixtures/initial-seed/initial-db-seed.sh:/docker-entrypoint-initdb.d/initial-db-seed.sh
      - ./etc/fixtures/:/tmp/fixtures
    ports:
      - 27017:27017
    networks:
      - rosalution-network
    environment:
      MONGO_INITDB_DATABASE: rosalution_db

networks:
  rosalution-network:
    name: rosalution-network