# .coveragerc to control unit testing done by coverage.py with pytest-cov
[run]
omit = 
       src/main.py
       src/dependencies.py
       src/database.py
       src/routers/*
       src/models/user.py