fastapi==0.74.1
uvicorn==0.20.0
python-cas==1.6.0
itsdangerous==2.1.2
pymongo==4.2.0
jq==1.2.1

python-multipart
python-jose[cryptography]
passlib
bcrypt

# dev
pytest-cov==4.0.0
pytest==7.2.1
pylint==2.12.2
requests==2.28.2
yapf==0.32.0