fastapi[all]==0.139.2
python-cas==1.7.2
pymongo==4.6.3
jq==1.12.0
pyinstrument==5.1.2

python-multipart==0.0.32
PyJWT[crypto]==2.13.0
bcrypt==5.0.0

# dev
pytest-cov==7.1.0
pytest==9.1.1
pylint==4.0.6
requests==2.34.2
yapf==0.40.2
itsdangerous==2.2.0
httpx2==2.7.0