/** transcript dataset-container padding: var(--p-0); **/
html {
  --annotation-dataset-unavailable: var(--rosalution-grey-100);
}

.section-content {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(24px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));

  row-gap: var(--p-10);
}

.grid-row-span {
  grid-column: 1 / -1;
}

.grid-row-horizontal {
  display: contents;
}

.dataset-container {
  display: flex;
  gap: 10px;
  line-height: 24px; /**  was rem in tag-dataset line-height: 1.5rem; **/
}

.dataset-container > .dataset-label {
  flex: 0 0 8.125rem;
  font-weight: 600;
}

.dataset-label-unavailable {
  color: var(--rosalution-grey-100);
}

  
a:hover .dataset-label {
  color: var(--rosalution-purple-100);
}

.dataset-bar {
  flex: 0 0 12.5rem;
  height: 1rem;
  border-radius: 9999px;
  /* background-color: salmon; */
}

/** linkout dataset **/

.linkout {
  background-color: var(--rosalution-white);
  /* overflow:hidden; */
}

.linkout img {
  max-height: 1.5rem;
}

.score-fill {
  box-shadow: 0 0 #0000;
  border-radius: 9999px;
}

.score-text {
  font-size: 1rem;
}

.score-background {
  overflow: hidden;
  border-radius: 9999px;
}

/** set dataset **/


.set-section {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.set-background {
  overflow: hidden;
  border-radius: 9999px;
}

.set-fill-unavailable {
  background-color: var(--rosalution-grey-100);
}

.set-text {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  white-space: nowrap;
  text-align: center;
  color: var(--rosalution-white);
}

/** tag dataset **/

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--p-8) var(--p-1);
}

.tag {
  padding: var(--p-05) var(--p-5);
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--rosalution-black);
  color: var(--rosalution-black);
}


/** text dataset **/

.text-value {
  white-space: pre-wrap;
}

/** text highlight dataset **/


.highlight-text {
  padding: 0 var(--p-8) 0 var(--p-8);
  border-radius: 9999px;
}

/** transcript dataset **/

/* 
.transcript-container {
  /* padding: var(--p-10) 0 var(--p-10) 0; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: var(--p-8) */
/*} */

.transcript-container:hover {
  background-color: var(--rosalution-grey-50);
}
/* 
.transcript-header {
  display: flex;
  align-items: baseline;
  gap: var(--p-8);

} */

.transcript-header-text {
  /* margin: 0px; */

    /** mimicing the h2 css **/
    font-size: 1.5rem;
    font-weight: 700;
    /* margin-block: 0px;
    margin-inline: 0px; */
}
/* 
.transcript-scores {
  display:flex;
}

.blank-transcript-score-spot {
  flex: 3 0 auto;
} */