/** || Variables **/

html {
  --divergen-status-annotation: var(--divergen-yellow-200);
  --divergen-status-ready: var(--divergen-blue-200);
  --divergen-status-active: var(--divergen-green-200);
  --divergen-status-approved: var(--divergen-teal-200);
  --divergen-status-on-hold: var(--cgds-blue-100);
  --divergen-status-declined: var(--divergen-grey-200);
}