@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "proxima-nova", sans-serif;
}

/** #app{} */

#page {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template:
    "sidebar header" 6rem
    "sidebar content" 1fr
    "sidebar footer" 30px;
  grid-template-columns: 10rem 1fr;
  background-color: #fff;
  color: #444;
}

header {
  background-color: red;
  grid-area: header;
}

sidebar {
  background-color: rgb(5 150 105);
  grid-area: sidebar;
}

content {
  background-color: violet;
  grid-area: content;
}

footer {
  background-color: yellow;
  grid-area: footer; 
}