/** || Variables **/

html {
  --rosalution-status-annotation: var(--rosalution-yellow-200);
  --rosalution-status-ready: var(--rosalution-blue-200);
  --rosalution-status-active: var(--rosalution-green-200);
  --rosalution-status-approved: var(--rosalution-teal-200);
  --rosalution-status-on-hold: var(--cgds-blue-100);
  --rosalution-status-declined: var(--rosalution-grey-200);
}

.rosalution-button {
  background-color: var(--rosalution-purple-100);
  color: var(--rosalution-purple-300);
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  height: 1.75rem;
  width: 7rem;
  border: none;
  border-radius: var(--content-border-radius);
  cursor: pointer;
}

.primary-button {
  background-color: var(--rosalution-purple-100);
  color: var(--rosalution-purple-300);
  font-weight: 700;
  font-size: 1.125rem;
  height: 1.75rem;
  width: 7rem;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  box-sizing: border-box;
}

.rosalution-button:hover{
  background-color: var(--rosalution-purple-200);
}


.primary-button:hover {
  background-color: var(--rosalution-purple-200);
}

.secondary-button {
  background-color: var(--rosalution-white);
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  height: 1.75rem;
  width: 7rem;
  border-color: var(--rosalution-black);
  border-radius: var(--button-border-radius);
  border-style: solid;
  cursor: pointer;
  box-sizing: border-box;
}

.rosalution-input {
  text-align: center;
  font-size: 0.813rem;
  margin-top: 1.563rem;
  border: solid;
  border-radius: 0.438rem;
  border-color: var(--rosalution-grey-100);
  width: 9.375rem;
  height: 1.688rem;
}

.rosalution-input::placeholder {
  color: var(--rosalution-grey-300);
}

.rosalution-section-container {
  display: flex;
  flex-direction: column;
  padding: var(--p-10);
  margin: var(--p-10);
  border-radius: var(--content-border-radius);
  /* background-color: var(--rosalution-white); */
  background-color: aqua;
}

.rosalution-section-seperator {
  height: var(--p-05);
  background-color: var(--rosalution-grey-100);
  border: solid .0469rem var(--rosalution-grey-100);
}

.rosalution-section-header {
  /* height: 2rem; */
  display: flex;
  align-items: flex-end;
}

.rosalution-header-right-icons {
  gap: var(--p-8);
  display: flex;
  flex-wrap: nowrap;
}

.rosalution-section-center {
  flex-grow: 2;
}

.rosalution-section-header-text {
  margin: .125rem .125rem 0 .125rem;
}