/** || Variables **/

html {
  --rosalution-status-annotation: var(--rosalution-yellow-200);
  --rosalution-status-ready: var(--rosalution-blue-200);
  --rosalution-status-active: var(--rosalution-green-200);
  --rosalution-status-approved: var(--rosalution-teal-200);
  --rosalution-status-on-hold: var(--cgds-blue-100);
  --rosalution-status-declined: var(--rosalution-grey-100);
}

.rosalution-button {
  background-color: var(--rosalution-purple-100);
  color: var(--rosalution-purple-300);
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  padding-top: var(--p-10);
  padding-bottom: var(--p-10);
  padding-left: var(--p-28);
  padding-right: var(--p-28);
  border: none;
  border-radius: var(--content-border-radius);
  cursor: pointer;
}

.rosalution-button:hover{
  background-color: var(--rosalution-purple-200);
}

.primary-button {
  background-color: var(--rosalution-purple-100);
  color: var(--rosalution-purple-300);
  font-weight: 700;
  font-size: 1.125rem;
  padding-top: var(--p-10);
  padding-bottom: var(--p-10);
  padding-left: var(--p-28);
  padding-right: var(--p-28);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  box-sizing: border-box;
}

.primary-button:disabled {
  background-color: var(--rosalution-purple-100);
  color: var(--rosalution-purple-300);
  opacity: 50%;
}

.primary-button:hover:enabled {
  background-color: var(--rosalution-purple-200);
  color: var(--rosalution-purple-100);
}

.secondary-button {
  background-color: var(--rosalution-white);
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  padding-top: var(--p-10);
  padding-bottom: var(--p-10);
  padding-left: var(--p-28);
  padding-right: var(--p-28);
  border-color: var(--rosalution-black);
  border-radius: var(--button-border-radius);
  border-style: solid;
  cursor: pointer;
  box-sizing: border-box;
}

.menu-button {
  border-radius: var(--content-border-radius);
  background-color: var(--primary-background-color);
  color: var(--rosalution-purple-200);
  padding: var(--p-5);
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
}

.menu-button:hover {
  color: var(--rosalution-purple-300);
}

.menu-button:active {
  color: var(--rosalution-purple-100);
}

.rosalution-input {
  text-align: center;
  font-size: 0.813rem;
  margin-top: 1.563rem;
  border: solid;
  border-radius: 0.438rem;
  border-color: var(--rosalution-grey-100);
  width: 9.375rem;
  height: 1.688rem;
}

.rosalution-input::placeholder {
  color: var(--rosalution-grey-300);
}

.rosalution-section-container {
  display: flex;
  flex-direction: column;
  padding: var(--p-10);
  border-radius: var(--content-border-radius);
  background-color: var(--rosalution-white);
}

.rosalution-section-seperator {
  height: var(--p-05);
  background-color: var(--rosalution-grey-100);
  border: solid .0469rem var(--rosalution-grey-100);
}

.rosalution-section-header {
  display: flex;
  align-items: center;
}

.rosalution-header-right-icons {
  gap: var(--p-8);
  display: flex;
  flex-wrap: nowrap;
}

.rosalution-section-center {
  flex-grow: 2;

  display: flex;
  gap: var(--p-8);
}

.rosalution-section-header-text {
  margin: var(--p-05) var(--p-05) var(--p-0) var(--p-05);
}

.collapsable-icon {
  color: var(--rosalution-grey-200);
  cursor: pointer;
}

.rosalution-section-container input[type="checkbox"]:checked ~ .rosalution-section-seperator ~ * {
  display: none;
}

input[type="checkbox"]:checked ~ .rosalution-section-header label.collapsable-icon {
  transform: scaleY(-1);
}