"<div data-v-6f14c848=\"\" class=\"modal-background\">\n <div data-v-6f14c848=\"\" class=\"modal-container
    limit-width\">\n <div data-v-6f14c848=\"\" class=\"tab-header\"><button data-v-6f14c848=\"\" class=\"tab-button\"
        data-test=\"button-input-dialog-upload-file\">\n <font-awesome-icon-stub data-v-6f14c848=\"\" icon=\"far,file\"
          border=\"false\" fixedwidth=\"false\" flip=\"false\" listitem=\"false\" pulse=\"false\" swapopacity=\"false\"
          size=\"2xl\" spin=\"false\" symbol=\"false\" inverse=\"false\" bounce=\"false\" shake=\"false\" beat=\"false\"
          fade=\"false\" beatfade=\"false\" flash=\"false\" spinpulse=\"false\"
          spinreverse=\"false\"></font-awesome-icon-stub>\n <!--v-if-->\n </button><button data-v-6f14c848=\"\"
        class=\"tab-button\" data-test=\"button-input-dialog-attach-url\">\n <font-awesome-icon-stub
          data-v-6f14c848=\"\" icon=\"link\" border=\"false\" fixedwidth=\"false\" flip=\"false\" listitem=\"false\"
          pulse=\"false\" swapopacity=\"false\" size=\"2xl\" spin=\"false\" symbol=\"false\" inverse=\"false\"
          bounce=\"false\" shake=\"false\" beat=\"false\" fade=\"false\" beatfade=\"false\" flash=\"false\"
          spinpulse=\"false\" spinreverse=\"false\"></font-awesome-icon-stub>\n <!--v-if-->\n </button><button
        data-v-6f14c848=\"\" class=\"tab-button-active tab-button\"
        data-test=\"button-input-dialog-existing-attachments\">\n <font-awesome-icon-stub data-v-6f14c848=\"\"
          icon=\"rosalution\" border=\"false\" fixedwidth=\"false\" flip=\"false\" listitem=\"false\" pulse=\"false\"
          swapopacity=\"false\" size=\"2xl\" spin=\"false\" symbol=\"false\" inverse=\"false\" bounce=\"false\"
          shake=\"false\" beat=\"false\" fade=\"false\" beatfade=\"false\" flash=\"false\" spinpulse=\"false\"
          spinreverse=\"false\"></font-awesome-icon-stub><img data-v-6f14c848=\"\"
          src=\"/src/assets/rosalution-logo.svg\" class=\"rosalution-tab\"
          data-test=\"button-input-dialog-existing-attachments\">\n </button></div>\n <div data-v-6f14c848=\"\"
      class=\"warning-message\" data-test=\"warning-message\">Warning message</div>\n <input-dialog-existing-attachments
      data-v-6f14c848=\"\" userinput=\"[object Object]\"></input-dialog-existing-attachments>\n <div
      data-v-6f14c848=\"\" class=\"button-row\"><button data-v-6f14c848=\"\" class=\"secondary-button\"
        data-test=\"cancel\">Cancel</button>\n <!--v-if--><button data-v-6f14c848=\"\" class=\"primary-button\"
        data-test=\"confirm\">Add</button>\n </div>\n </div>\n</div>"